
.background-section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('https://image.lexica.art/full_webp/7ad9b7a6-d707-446e-9667-eee136c191c9');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .signup-form {
    width: 90%;
    max-width: 700px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(249, 249, 249, 0.9);
  }
  
  .signup-form h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #80395a;
  }
  
  .signup-form .form-group {
    margin-bottom: 15px;
  }
  
  .signup-form label {
    color: #80395a;
    display: block;
  }
  
  .signup-form input[type="text"],
  .signup-form input[type="password"],
  .signup-form input[type="email"],
  .signup-form input[type="tel"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .signup-form .btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #80395a;
    color: white;
    font-size: 18px;
    cursor: pointer;
  }
  
  .signup-form .paragraph {
    margin-top: 15px;
    font-size: 16px;
  }
  
  .signup-form .links {
    color: black;
    font-size: 16px;
  }
  
  .signup-form .error-message {
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
  }
  
  .signup-form input:invalid[focused="true"] {
    border: 1px solid red;
  }
  
  .signup-form input:invalid[focused="true"] ~ span {
    display: block;
  }
  
  
  @media screen and (max-width: 768px) {
    .signup-form {
      padding: 15px;
    }
  
    .signup-form h1 {
      font-size: 24px;
    }
  
    .signup-form .btn {
      font-size: 16px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .signup-form {
      width: 100%;
      margin: 20px;
    }
  
    .signup-form h1 {
      font-size: 20px;
    }
  
    .signup-form .btn {
      font-size: 14px;
    }
  }